


.model-annotation {
  margin-left: 0px;
  margin-top: -10px;
  transform: translate3d(50%, 0, 0);
  text-align: left;
  background: #202035;
  color: white;
  padding: 10px 15px;
  border-radius: 5px;
  max-width: 200px;
}


.model-annotation2 {
  margin-left: 0px;
  margin-top: -10px;
  transform: translate3d(50%, 0, 0);
  text-align: left;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  padding: 10px 15px;
  border-radius: 5px;
  max-width: 200px;
}


.annotation_editmode {
  outline-color: red;
  background: rgba(0, 0, 255, 0.8);
}